# Python
__pycache__/

# Libraries and Models
CLIP/
taming-transformers/
taming/
checkpoints/
Output/

# Editor
.vscode/

# Operations
outputs/
steps/

# Files
output.png
steps.mp4
Output/Random/random_100.png
Output/Random/random_100.png
Output/Random/random_50.png
Output/Random/random_100.png
Output/Random/random_100.png
